@import "config";

body{
  background-color: $background-color;
  font-size: $font-size;
  font-family: $font-family;
  height: $app-height;
  p{
    color: $font-color;
    background-color: $background-color;
  }
}


